body{

    /* background-image: url("../images/concrete_seamless.png"); */
    /* background-image: url("../images/soccer_background.jpg"); */
    background-color: white;
}

p {
    color:  #050065;
    font-family: 'Arial', serif;
    font-size: 16px;
    line-height: 26px;
    /*  16/0.618 = 25.88 */
}

.skip{
    background: #e77e23;
    height:30px;
    transition: transform 0.3s;
    left:50%;
    position:absolute;
    transform: translateY(-100%);
}

.skip:focus{
    transform: translateY(0%);
}

#grey_image{
    background-image: radial-gradient(at right top,rgba(0,0,0,0) 40%,#000000f5 100%);
    background-color: #0a3a0a6b;
}

.simple-form p{
    text-align: center;
}

.simple-form{
    background-image: url("../images/soccer_on_the_ground_background.jpg");
    /* filter: grayscale(100%); */
    min-height: 800px;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.landing{
    font-size: 50px;
    line-height: 81px;
    color: rgb(11, 195, 228);
}


.page-center{
    padding-top: 17%;
    position: absolute;
}

#learn_more{
    font-family: 'DINPro',Montserrat;
    font-weight: bold;
    text-transform: uppercase;
    background: #81cdf0;
    float: none;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none;
    border-style: none;
    border-radius: 100px;
    text-shadow: none;
    font-size: 28px;
    line-height: 45px;
    color: rgb(7, 7, 6);
    padding: 10px 30px;
    text-align: center;
    white-space: normal;
    width: auto;
    font-style: normal;
    max-width: 300px;
    margin: 50px auto 30px auto;
    display: block;
}

main{
    margin: 0 10%;
}

nav ul li{
    width: 100%;
    display: inline-block;
    padding:2px;
    justify-content: space-between;
    border: black 2px solid;
    text-align: center;
}

.nav_links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
	font-size: 2em; 
	font-weight: bold;
}

footer {
    background-color: rgb(74, 175, 206);
    /* background-color: white; */
    color: #050065;
    padding: 20px;
    text-align: center;
}

body{
    margin:0;
    padding:0;
    background-color: white;
    color:#050065;
}


.container{
    border: 4px solid black;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    margin: auto;
}

.container > div{
    overflow: hidden;
} 

.container > div > img{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
    /* object-fit: cover; */
}

.container > div > video {
    width: 100%;
    height: auto;
  }

.example-image{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}

.team_photo{
    border:3px black solid;
    margin: auto;
}

.report{
    border:1px black solid;
    height: 100%;
    max-width: 500px;
    margin:auto;
}

.hope_cup_container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

h1{
    font-size:32px;
    text-align: center;
    line-height:2;
}

/* animation */
h1{
    animation-name: larger;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes larger{
    from {width: 10%; opacity: 0;}
    to {width: 100%; opacity: 1;}
}

h2{
    font-size: 24px;
    line-height:1.5;
}

h3{
    font-size: 18px;
    line-height:1.2;
    font-weight: bold;
}

/* .report img{
    width: 100%;
    height: 100%;
} */

table{
    width:100%;
    border: 5px solid #000000;
    border-radius: 7px;
}

.rowhead{
    border-top:2px solid #000000;
    border-right:2px solid #000000;
    padding: 10px;
  }

td{
    text-align: center;
    padding: 10px;
    border-top:2px solid #000000;
}

th{
    text-align: center;
}

nav .current:before{
    content: "⚽";
}

nav .current_list{
    /* background-color: #49721D; */
    background-color: rgb(74, 175, 206);
    /* background-color: white; */
}

a{
    color: black;
    font-size: 10px;
}



@media (min-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 200px);
        margin: auto;
    }

    .nav_links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    nav ul li{
        width: 25%;
    }

    .nav_links a{
        font-size: 20px;
    }

    .report1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .report1 > .gif{
        height: 300px;
        width: 600px;
        display: block;
    }

    .report{
        position: relative;
        width: 450px;
        height: 350px;
        /* border: hidden; */
    }

    .flipcard{
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
    }
    
    .flipcard:hover, .flipcard:focus{
        transform: rotateY(180deg);
    }
    
    .frontcard{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    
    .backcard{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: rotateY(180deg);
        align-self: center;
    }
    
    .backcard > h3{
        text-align: center;
        top:25%;
        position: relative;
        font-weight: bold;
    }
    
    .backcard > p{
        text-align: center;
        top:25%;
        position: relative;
    }
}

@media (min-width: 1200px){
    main{
        width: 75%;
        margin-left: 3%;
        position: relative;
    }

    body{
        position: relative;
    }

    .nav_links {
        list-style-type: none;
        margin: 0;
        animation-name: navigation;
        animation-duration: 2s;
        padding: 0;
        right: 0;
        width: 19%;
        height: 100%;
        background: url(../images/side_bar_photo2.jpg);
        background-size: 100% 70%;
        background-position: bottom;   
        background-repeat: no-repeat;  
        position: fixed;
        overflow: auto;
        align-items: center;
        align-content: flex-start;
        flex-direction: column;
        justify-content: start;
        z-index: 1;
    }

    .nav_links > li{
        width: 100%;
        height: 7.5%;
    }

    .nav_links a{
        font-size: 24px;
    }

    #grey_image{
        width: 81%;
    }

    footer{
        width: 81%;
    }

    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
        margin: auto;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    h1{
        animation: none;
    }
    .simple-form{
        background-attachment: initial;
    }
    .flipcard{
        transition: none;
    }
}